* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #00888850;
  text-align: center;
}

h1 {
  text-align: center;
}

body > p {
  font-size: 1.5em;
}

img {
  width:100px;
  height: 100px;
}
#content {
}
.contentBox {
  display: inline-block;
  width: 350px;
  height: 300px;
  background-color: #00bb8888;
  margin: 20px;
}
